//template
.vsf{
  .slider{
    .slide{

    }
    .slides{
      .s0 {}
      .s1 {}
      .s2 {}
      .s3 {}
      .s4 {}
    }
  }
}
//code
.vsf {
  padding: 5px;
}
.slider{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .slides{
    border: solid 1px saddlebrown;
    width: 1000px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .do{
    flex: 1;
    align-self: stretch;
    max-width: 50px;
  }
  .slides-point {
    position: relative;
    .slide{
      border: solid 1px red;
      position: absolute;
      transform: translate(-50%,-50%);
      transition-property: all;
      transition-duration: 500ms;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
//themes
.theme-small-slide{
  .slider{
    .slide{
      width: 100px;
      height: 100px;
    }
    .slides{
      .s0 {
        left: -220px;
      }
      .s1 {
        left: -110px;
      }
      .s2 {
        left: 0;
      }
      .s3 {
        left: 110px;
      }
      .s4 {
        left: 220px;
      }
    }
  }
}

.theme-more{
  .slider{
    .slide{
      width: 220px;
      height: 100px;
    }
    .slides{
      .s0 {
        left: -230px;
      }
      .s1 {
        left: 0;
      }
      .s2 {
        left: 230px;
      }
    }
  }
}

.theme-render-limit{
  .slider{
    .slide{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .slides{
      .hide{}
      .s0 {
        left: -110px;
      }
      .s1 {
        left: 0;
      }
      .s2 {
        left: 110px;
      }
    }
  }
}

.theme-hidden{
  .slides{
    width: 265px;
    overflow: hidden;
  }
  .slider{
    justify-content: space-between;
    .slide{
      width: 120px;
      height: 100px;
      background-color: #fff;
    }
    .slides{
      .s0 {
        left: -195px;
        opacity: 0;
        transition-property: left, opacity;
        transition-timing-function: ease, step-end;
      }
      .s1 {
        left: -65px;
        opacity: 1;
      }
      .s2 {
        left: 65px;
        opacity: 1;
      }
      .s3 {
        left: 195px;
        opacity: 0;
        transition-property: left, opacity;
        transition-timing-function: ease, step-end;
      }
    }
  }
}

.theme-hammer{
  .slides{
    width: 1000px;
    overflow: hidden;
  }
  .slider{
    justify-content: space-between;
    .slide{
      width: 990px;
      height: 100px;
      background-color: cadetblue;
      transition-duration: 1000ms;
    }
    .slides{
      .s0 {
        left: -1010px;
        opacity: 0;
        transition-property: left, opacity;
        transition-timing-function: linear, step-end;
      }
      .s1 {
        left: 0;
        opacity: 1;
        transition-property: left, opacity;
        transition-timing-function: linear, step-start;
      }
      .s2 {
        left: 1010px;
        opacity: 0;
        transition-property: left, opacity;
        transition-timing-function: linear, step-end;
      }
    }
  }
}

.theme-ticker{
  .slides{
    width: 1000px;
    overflow: hidden;
  }
  .slider{
    justify-content: space-between;
    .slide{
      width: 990px;
      height: 100px;
      background-color: cadetblue;
      cursor: pointer;
      transition-duration: 7000ms;
      transition-property: left;
      transition-timing-function: linear;
      &:hover {
        background-color: burlywood;
      }
      &.s0 {
        opacity: 1;
        z-index: 1;
      }
      &.s1 {
        opacity: 1;
        z-index: 1;
      }
      &.s2 {
        opacity: 0;
        z-index: 0;
      }
      //use class p (position) if need pause slider
      &.p0{
        left: -1010px !important;
      }
      &.p1{
        left: 0 !important;
      }
      &.p2{
        left: 1010px !important;
      }
    }
  }
}

.theme-vertical{
  .slider{
    overflow: hidden;
    .slide{
      width: 900px;
      height: 100px;
    }
    .slides{
      .s0 {
        top: -120px;
        opacity: 0;
        transition-property: top, opacity;
        transition-timing-function: ease, step-end;
      }
      .s1 {
        top: 0;
        opacity: 1;
        transition-property: top, opacity;
        transition-timing-function: ease, step-start;
      }
      .s2 {
        top: 120px;
        opacity: 0;
        transition-property: top, opacity;
        transition-timing-function: ease, step-end;
      }
    }
  }
}

