<template>
  <div class="slider" ref="slider">
    <button class="do" @click="slide(left)"> < </button>
    <div class="slides" ref="slides">
      <div class="slides-point">
        <template v-for="(item, index) in renderSlides">
          <component
            v-if="slideComponent"
            :class="`s${cssClasses[index]} p${cssClasses[index]}`"
            :is="slideComponent"
            :init="{obj: item, index}"
            @pause="pause"
            @unpause="unpause"
          ></component>
        </template>
      </div>
    </div>
    <button class="do" @click="slide(right)"> > </button>
  </div>
</template>

<script>
export default {
  name: 'VueSliderFramework',
  props:{
    slides: {type: Array, default: ()=>{return[]}},
    slideComponent: {type: String, default: null},

    renderLimit: {type: Number, default: null},
    animation: {type: Object, default: function(){return{
        time: 0,
    }}},
    auto: {type: Object, default: function(){return{
        state: false,
        time: 0,
        change: false,
        run: false,
    }}},
    hammer: {type: Object, default: function () {return{
        state: true, right: 'swiperight', left: 'swipeleft',
    }}},
  },
  data(){return{
    renderSlides: [],
    cssClasses: [],

    indexes:{
      rightFrom: undefined,
      rightTo: undefined,
      leftFrom: undefined,
      leftTo: undefined,
    },

    animationCan: true,

    timerSlide: 0,
    timerPause: 0,

    chronos:{
      begin: 0,
      pause: 0,
      duration: 7000,
    },
  }},
  mounted(){
    //----------------------------------------
    if (this.hammer.state) {
      const Hammer = require('hammerjs');
      let hm = new Hammer(this.$refs.slider);
      if (this.hammer.right === 'swipeup' || this.hammer.right === 'swipedown') {
        hm.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });
      }
      hm.on(this.hammer.right, ()=>{this.slide(this.right)} );
      hm.on(this.hammer.left, ()=>{this.slide(this.left)} );
    }
    this.cssClassesCreate();
    //----------------------------------------
    if (this.renderLimitUse) {
      this.renderSlides = this.slides.slice(0,this.renderLimit);
    } else {
      this.renderSlides = this.slides;
    }
    this.slideIndex = this.size;

    if (this.renderLimitUse) {
      this.indexes.rightFrom = this.renderLimit;
      this.indexes.rightTo = 0;

      this.indexes.leftFrom = this.slides.length - 1;
      this.indexes.leftTo = this.renderLimit - 1;
    }

    if (this.auto.state) {
      if (this.auto.run) {
        this.timerSlide = setTimeout(()=>{this.slide(this.right)}, 0);
      } else {
        this.timerSlide = setTimeout(()=>{this.slide(this.right)}, this.auto.time);
      }
    }
  },
  methods:{
    //events----------------------------------------
    pause(){
      let elSlides, d = new Date();

      this.clearTimeSlide();
      this.clearTimePause();

      this.chronos.pause = d.getTime();

      elSlides = this.$refs.slides.getElementsByClassName('slide');
      for(let sl of elSlides){
        //remove----------------------------------
        sl.removeAttribute('style');
        //set-style-------------------------------
        let style = getComputedStyle(sl);
        sl.style.left = style.left;
        //----------------------------------------
        this.styleRemovePositionClasses(sl);
      }
      this.$forceUpdate();
    },
    unpause(){
      let elSlides, d = new Date(), i = 0;

      elSlides = this.$refs.slides.getElementsByClassName('slide');

      let tm = this.chronos.duration - (this.chronos.pause - this.chronos.begin);
      this.chronos.duration = tm;

      for (let sl of elSlides) {
        sl.style.transitionDuration = `${tm}ms`;
        sl.classList.add(`p${this.cssClasses[i]}`);
        i++;
      }
      this.chronos.begin = d.getTime();
      this.timerSlide = setTimeout(()=>{
        for (let sl of elSlides) {
          sl.removeAttribute("style");
          this.chronos.duration = this.auto.time;
        }
        this.slide(this.right);
      },tm);

      this.$forceUpdate();
    },
    //actions----------------------------------------
    slide(slideFun){
      if (this.animationWait) {
        if (this.animationCan) {
          slideFun();
          this.animationCan = false;
          setTimeout(()=>{this.animationCan = true;}, this.animation.time);
        }
      } else {
        slideFun();
      }
    },
    left(){
      let d;

      d = new Date();
      this.chronos.begin = d.getTime();

      for (let index in this.cssClasses)
        this.cssClasses[index] = this.cssClasses[index] === this.size - 1 ? 0 : this.cssClasses[index] + 1;

      if (this.renderLimitUse) {
        this.renderSlides[this.indexes.leftTo] = this.slides[this.indexes.leftFrom];

        this.indexes.leftFrom = this.indexes.leftFrom === 0 ? this.slides.length - 1 : this.indexes.leftFrom - 1;
        this.indexes.leftTo   = this.indexes.leftTo   === 0 ? this.renderLimit   - 1 : this.indexes.leftTo   - 1;

        this.indexes.rightFrom = this.indexes.rightFrom === 0 ? this.slides.length - 1 : this.indexes.rightFrom - 1;
        this.indexes.rightTo   = this.indexes.rightTo   === 0 ? this.renderLimit   - 1 : this.indexes.rightTo   - 1;
      }

      if (this.auto.state){
        this.timerSlide = setTimeout(this.auto.change ? this.left : this.right, this.auto.time);
      }

      this.$forceUpdate();
    },

    right(){
      let d;

      d = new Date();
      this.chronos.begin = d.getTime();

      for (let index in this.cssClasses)
        this.cssClasses[index] = this.cssClasses[index] === 0 ? this.size - 1 : this.cssClasses[index] - 1;

      if (this.renderLimitUse) {
        this.renderSlides[this.indexes.rightTo] = this.slides[this.indexes.rightFrom];

        this.indexes.rightFrom = this.indexes.rightFrom === this.slides.length - 1 ? 0 : this.indexes.rightFrom + 1;
        this.indexes.rightTo   = this.indexes.rightTo   === this.renderLimit   - 1 ? 0 : this.indexes.rightTo   + 1;

        this.indexes.leftFrom = this.indexes.leftFrom === this.slides.length - 1 ? 0 : this.indexes.leftFrom + 1;
        this.indexes.leftTo   = this.indexes.leftTo   === this.renderLimit   - 1 ? 0 : this.indexes.leftTo   + 1;
      }

      if (this.auto.state){
        this.timerSlide = setTimeout(this.right, this.auto.time);
      }

      this.$forceUpdate();
    },
    //helpers
    cssClassesCreate(){
      this.cssClasses = Array.from({ length: this.size }, (v, k) => k);
    },
    clearTimeSlide(){
      clearTimeout(this.timerSlide);
      this.timerSlide = undefined;
    },
    clearTimePause(){
      clearTimeout(this.timerPause);
      this.timerPause = undefined;
    },
    styleRemovePositionClasses(element){
      for (let styleClass of element.classList){
        if (styleClass.search(/^p[0-9]$/i) > -1) {
          element.classList.remove(styleClass);
        }
      }
    },
  },
  computed:{
    size(){
      return this.renderLimitUse ? this.renderLimit : this.slides.length;
    },
    renderLimitUse(){
      return this.renderLimit > 0;
    },
    animationWait(){
      return this.animation.time > 0;
    }
  }
}
</script>

