<template>
    <div class="slide" @click="clk" @mouseenter="pause" @mouseleave="unpause">
      {{init.obj.name}} <br>
      index {{init.index}}
    </div>
</template>

<script>
import {slidePrototype} from "./slidePrototype";

export default {
  name: "slide-txt",
  mixins: [slidePrototype],
  methods:{
    clk(){
      console.log('clk');
    },
  }
}
</script>
