<template>
<div id="app">
  <h1>Vue slider framework</h1>

  <section>
    <h2>Advantages</h2>
    <ul>
      <li>Внешний вид и анимация описываются исключительно при помощи css</li>
      <li>Чистый DOM, слайдер не создает лишних элементов в DOM</li>
    </ul>
  </section>

  <section>
    <h2>Confines</h2>
    <ul>
      <li>Минимально необходимое количество слайдов - три</li>
    </ul>
  </section>

  <section>
    <h2>Documentation</h2>
    <h3>Files</h3>
    <ul>
      <li><strong>slider.vue</strong> - компонент слайдера</li>
      <li><strong>slide-ticker.vue / slide-default.vue</strong> - компонент одного слайда</li>
      <li><strong>slider.scss</strong> - css</li>
      <li><strong>slidePrototype.js</strong> - mixin, прототип для slide компонентов. В этом файле описаты все переменные и события, которые могут понадобиться</li>
    </ul>
    <h3>Slider emit handler</h3>
    <h4>pause and unpause</h4>
    <ul>
      <li><strong>pause</strong> - приостанавливает итерацию, сохраняя текущее состояние компонента.</li>
      <li><strong>unpause</strong> - возвбровляет работу слайдера.</li>
    </ul>
  </section>

  <section>
    <h2>Examples</h2>
    <section>
      <h3>Default slider</h3>
      <div class=" vsf theme-small-slide">
        <slider
          :slides="slides"
          :slide-component="'slide-default'"
        ></slider>
      </div>
    </section>

    <section>
      <h2>Default slider, render-limit = 3</h2>
      <center>{{slides}}</center>
      <div class=" vsf theme-render-limit">
        <slider
          :slides="slides"
          :slide-component="'slide-default'"
          :render-limit="3"
        ></slider>
      </div>
    </section>
    <p>
      Если свойство renderLimit указано и оно меньше чем длинна массива slides,
      слайдер ограничит количество одновременно отображаемых слайдов.
      Остальные елемента массива slides будут отображаться, загружаясь в крайние елемента массива renderSlides.
    </p>

    <section>
      <h2>CSS Themes - overflow-hidden</h2>
      <div class=" vsf theme-hidden">
        <slider
          :slides="slides"
          :slide-component="'slide-default'"
          :render-limit="4"
        ></slider>
      </div>
    </section>
    <p>
      Пример css темы, которая скрывает крайние слайды, и анимацию перемещения слайдов.
      Что бы резко скрыть крайние слайды используются функции <mark>step-end</mark> для левого и <mark>step-star</mark> для правого.
    </p>

    <section>
      <h2>Animation</h2>
      <div class=" vsf theme-hidden">
        <slider
          :slides="slides"
          :slide-component="'slide-default'"
          :render-limit="4"
          :animation="{time: 500}"
        ></slider>
      </div>
      <div>
        <h3>animation.time</h3>
        <p>
          При значении больше нуля, блокирует смену слайда до завершения анимации. Укажите продолжительность анимации в миллисекундах.
        </p>
        <p>
          Если анимация перехода (transition) не завершилась и произошло перелистывание, слайды могут начать наслаиваться.
        </p>
        <h3>Future</h3>
        <p>
          Проверить возможность использования события <mark>transitionend</mark>.
        </p>
      </div>
    </section>

    <section>
      <h2>Auto slide</h2>
      <div class=" vsf theme-hidden">
        <slider
          :slides="slides"
          :slide-component="'slide-default'"
          :render-limit="4"
          :animation="{time: 500}"
          :auto="{state: true, time: 5000, change: true, run: false}"
        ></slider>
      </div>
      <div>
        <h3>auto.state</h3>
        <p>
          default false, true - включит автоматическое перелистывание по таймеру с интервалом в <strong>auto.time</strong> миллисекунд.
        </p>
        <h3>auto.change</h3>
        <p>
          default false, true - при ручном перелистывании, меняет направление автоматического перелистывания.
        </p>
        <h3>auto.run</h3>
        <p>
          default false, true - включить первую итерацию сразу после загрузки слайдера.
        </p>
        <ul>
          <li><a href="#ticker">Example, Ticker slider</a></li>
        </ul>
      </div>
    </section>

    <section>
      <h2>HammerJS</h2>
      <div class=" vsf theme-hammer">
        <slider
          :slides="slides"
          :slide-component="'slide-default'"
          :render-limit="3"
          :animation="{time: 1000}"
        ></slider>
      </div>
      <div>
        <h3>hammer.state</h3>
        <p>
          default true, false - отключить события <strong>hammer.js</strong>
        </p>
        <h3>Hammer.js events</h3>
        <table>
          <tr>
            <th>Name</th>
            <th>DOM</th>
            <th>Events</th>
          </tr>
          <tr>
            <td>root</td>
            <td>ref="slider"</td>
            <td>swipeleft / swiperight</td>
          </tr>
        </table>
      </div>
    </section>

    <section>
      <h2>Example, Vertical slider</h2>
      <div class="vsf theme-vertical">
        <slider
          :slides="slides"
          :slide-component="'slide-default'"
          :render-limit="3"
          :animation="{time: 500}"
          :hammer="{state: true, right: 'swipeup', left: 'swipedown'}"
        ></slider>
      </div>
      <h3>Hammer.js events</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>DOM</th>
          <th>Events</th>
        </tr>
        <tr>
          <td>root</td>
          <td>ref="slider"</td>
          <td>swipeup / swipedown</td>
        </tr>
      </table>
    </section>

    <section>
      <h2 id="ticker">Example, Ticker slider</h2>
      <p>
        Простая бегущая строка: без возможности смены итерации;
        Компонент слайда <mark>slide-ticker</mark> использует вызовы <strong>pause</strong> и <strong>unpause</strong>.
      </p>
      <div class=" vsf theme-ticker">
        <slider
          :slides="slides"
          :slide-component="'slide-ticker'"
          :render-limit="3"
          :animation="{time: 7000}"
          :auto="{state: true, time: 7000, change: false, run: true}"
        ></slider>
      </div>
      <div>
        <p>
          Для создания бегущей строки необходимо синхронизировать, по времени, начало новой анимации с завершение приведущей.
        </p>
        Конфигурация слайдера:
        <ul>
          <li>css
            <ul>
              <li><strong>transition-duration</strong>: 7000ms</li>
              <li><strong>ransition-timing-function</strong>: linear</li>
            </ul>
          </li>
          <li>props
            <ul>
              <li><strong>auto.sate</strong>: true</li>
              <li><strong>auto.time</strong>: 7000</li>
              <li><strong>auto.run</strong>: true</li>
            </ul>
          </li>
          <li>note
            <ul>
              <li><strong>animation.time</strong> - не блокируйте итерацию ticker слайдера</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </section>

</div>
</template>

<script>
import slider from './vue-slider-framework/slider'
export default {
  name: 'app',
  components: {slider},
  data(){return{
    slides: [
      {name: 'A'},
      {name: 'B'},
      {name: 'C'},
      {name: 'D'},
      {name: 'E'},
    ],
    slidesMore: [
      [{name: 'A'},{name: 'B'},],
      [{name: 'C'},{name: 'D'},],
      [{name: 'E'},{name: 'F'},]
    ],
  }},
}
</script>

<style lang="scss">
  @import "./vue-slider-framework/slider";
  .vsf {
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  mark {
    padding: 0 4px;
    background-color: khaki;
  }
  h2 {
    margin: 15px 0 5px 0;
    color: #565656;
    text-decoration: underline;
  }
  h3 {
    margin: 10px 0 5px 0;
  }
  p {
    margin: 3px 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
</style>
